[Unit]
Description=Server Agent
After=network.target

[Service]
User=node
WorkingDirectory=/opt/reporter
ExecStart=/usr/bin/node dist/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target